<div>
<h1>Welcome to Chirpus Pizza</h1>

<table class="center">
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
  </tr>
  @for (m of Menu; track $index) {
    <tr [class.soldout]="m.soldOut">
      @if(m.soldOut){
        <td>{{m.name}}(Sold Out)</td>
      }@else{
        <td>{{m.name}}</td>
      }
      <td>{{m.category}}</td>
      <td>{{m.price}}</td>
      @if (m.vegetarian) {
        <td>Vegetarian</td>
      }@else{
        <td></td>
      }
      @if(m.soldOut){
        <button disabled>Add to Order</button>
        
      }@else {
        <button onclick="AddToOrder()">Add to Order</button>

      }
    </tr>
  }
</table>
</div>

